* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.prev, .next {
  display: inline-block;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.holyday {
  color: red;
}
